#overlay-hider {
  background-color: #000000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
}

#agegate {
  background: #fff;
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -150px;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 300px;
  z-index: 501;
}
